body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('./img/wallpaper.jpg');
  background-size: cover;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.d-none {
  display: none !important;
}

canvas,
.game-over-img,
.win-img,
.start-screen {
  background-color: black;
  border-radius: 16px;
  box-shadow: 4px 4px 10px 0 rgb(27, 27, 27);
  display: block;
}

.relative-div {
  position: relative;
}

.mobile-view-main {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 0;
  right: 0;
}

.move-Left,
.move-Right,
.jump,
.bottle-throw {
  width: 45px;
  height: 45px;
}

.left-hand,
.right-hand {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  gap: 16px;
}

.start-screen-main {
  display: flex;
  position: relative;
}

.start-screen-icons {
  display: flex;
  position: absolute;
  flex-direction: column;
}

.game-over-imgs {
  position: relative;
}

.start-screen,
.game-over-img,
.win-img {
  position: relative;
  width: 720px;
  height: 480px;
}

.start-orientation {
  width: 720px;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.start-btn {
  width: 50px;
  padding: 10px;
  cursor: pointer;
  filter: grayscale(1);
}

.start-btn:hover {
  filter: grayscale(0);
}

.main-font-class {
  position: absolute;
  display: flex;
  width: 720px;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 100;
  border-radius: 16px;
  box-shadow: 4px 4px 10px 0 rgb(27, 27, 27);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

h1,
h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(240, 209, 180);
  margin-top: 5px;
  margin-bottom: 5px;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.5);
}

h2 {
  font-weight: 400;
  display: flex;
  align-items: center;
  font-size: 22px;
  gap: 5px;
}

.game-introducing,
.restart-game-part {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  width: 720px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px 0 rgb(27, 27, 27);
  bottom: 0;
}

.game-instructions-left,
.move-Left {
  transform: rotate(90deg);
}

.jump {
  transform: rotate(180deg);
}

.game-instructions,
.game-instructions-left,
.game-instructions-right {
  width: 35px;
}

.game-instructions-right,
.move-Right {
  transform: rotate(270deg);
}

.restart-icon {
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  filter: grayscale(1);
}

.restart-icon:hover {
  width: 40px;  
  filter: grayscale(0);
}

.mobileScreen {
  display: none;
}

a {
  text-decoration: none !important;
  font-size: 16px;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:hover {
  cursor: pointer;
  color: rgb(255, 219, 0);
}

p {
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.privacy {
  display: flex;
  border-radius: 16px;
  box-shadow: 0px 1px 3px 0px rgb(78, 78, 78);
}

@media (min-width: 1025px) {
  .mobile-view-main {
    display: none;
  }
}

/* smartphones ---------------*/
@media only screen and (max-width: 720px) {
  canvas,
  body,
  .start-screen,
  .start-orientation,
  .game-over-img,
  .win-img,
  .game-introducing,
  .restart-game-part,
  .mobile-view-main,
  .main-font-class {
    width: 100%;
  }

  .main-font-class {
    display: none;
  }
}

/* smartphones ---------------*/
@media only screen and (max-height: 480px) {
  canvas,
  body,
  .start-screen,
  .game-over-img,
  .win-img,
  .game-introducing,
  .restart-game-part,
  .mobile-view-main,
  .main-font-class {
    height: 100vh;
  }

  .main-font-class {
    display: none;
  }
}

/* Landscape mode for mobile devices ------------- */
@media (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
  .mobileScreen {
    display: none !important;
    width: 100%;
    height: 100vh;
    position: absolute;
    flex-direction: column;
    z-index: 150;
    background-color: #cacaca;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .game-introducing {
    display: flex;
    bottom: 0px;
    align-content: flex-end;
  }

  .restart-game-part {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 16px;
  }

  .mobile-view-main {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 11vh;
  }

  .move-Left,
  .move-Right,
  .jump,
  .bottle-throw {
    width: 45px;
    height: 45px;
  }

  .left-hand,
  .right-hand {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    gap: 16px;
  }

  .privacy {
    margin: 0px;
  }

  .canvas-relative {
    position: relative;
  }

  .relative-div {
    position: relative;
  }

  .start-orientation {
    z-index: 1;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: flex-start;
  }

  p {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    margin: 5px;
    margin-top: 0px;
  }
}

@media (max-width: 719px) {
  .mobileScreen {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 150;
    background-color: #cacaca;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  p {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
  }

  .turndevice {
    width: 100px;
  }
}
